.headerfont{
    font-family: 'Sevillana', cursive;
    font-weight: bold;
}
.headercolor{
    color: rgb(245, 142, 16);
}
.boxshs{
    border-bottom: solid transparent 1px;
    box-shadow: 10px 5px 10px 1px lightblue;
    background-color:rgb(248, 231, 210);
}